<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyte.adaboo.lyteapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/lyteappicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider  android:authorities="com.facebook.app.FacebookContentProvider"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>


        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".show_progress">

        </activity>

        <activity android:name=".GraphApiTry"
            android:launchMode = "singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Individual_Sell"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".StartActivity"

            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>


        <activity android:name=".Manage_Shop"

            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".myProfile"

            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>


        <activity android:name=".HomePage"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".Buy_mall"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".CreateCompany"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".BuyPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>